.recipes {
	background: url("./tasteful-recipes.jpg") center/cover no-repeat;
	height: 100vh;
	width: 100vw;
	margin-top: 3.9rem;
}
@media screen and (max-width: 900px) {
	.recipes {
		margin-top: 2.4rem;
	}
}
